.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.chat-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0 10px;
}

.own-message .message-content {
  background-color: #007aff;
  color: #ffffff;
  padding: 10px;
  border-radius: 20px 0px 20px 20px;
}

.own-message .message-time {
  font-size: 12px;
  margin-top: 5px;
  color: #cdcccc;
}

.other-message .message-content {
  background-color: #f2f2f2;
  color: black;
  padding: 10px;
  border-radius: 0px 20px 20px 20px;  
  display: inline;
  justify-content: left;
}

.other-message .message-time {
  font-size: 12px;
  margin-top: 5px;
  color: rgb(180, 179, 179);
}

.chat-form ion-input, .chat-form ion-button {
  width: 100%;
  max-width: 500px;
  height: 40px;
  font-size: 14px;
  margin-right: 10px;
}

.chat-form ion-button {
  height: 50px;
  width: 80px;
}

.transparent {
  --background: transparent;
}
